<h1>Welcome to Todo Manager!</h1>

<section class="user-new">
    
    <%= form_with(url: "/login", method: "post", class: "home-form") do |form| %> 
        <p class="user-form-title">LOG IN</p> 
        <hr>      
        <div class="form-user-input">
            <p class="field-title">Email:</p>
            <input class="form-field" type="email" name="email" id="email" placeholder="example@email.com" required>
        </div>
        <br>
        <div class="form-user-input">
            <p class="field-title">Password:</p>
            <input class="form-field" type="password" name="password" id="password" required>
        </div>
        <%= form.submit "Sign in", class: "user-form-submit"%>
    <% end %>  
    <p class="user-form-signup-text"> Don't have an account? <%= link_to "Sign up", "/users/new", method:"get" %> </p>  

</section>
