<h1>Welcome to Todo Manager!</h1>

<section class="user-new">
    <p class="user-form-title">SIGN UP</p>
    <hr>
    <%= form_with(url: "/users", method: "post", class: "home-form") do |form| %>
        <div class="form-user-input">
            <p class="field-title">Name:</p>
            <input class="form-field" type="text" name="name" id="name" placeholder="Your Name" required>
        </div>
        <br>
        
        <div class="form-user -input">
            <p class="field-title">Email:</p>
            <input class="form-field" type="email" name="email" id="email" placeholder="example@email.com" required>
        </div>
        
        <br>
        <div class="form-user-input">
            <p class="field-title">Password:</p>
            <input class="form-field" type="password" name="password" id="password" required>
        </div>
        <%= form.submit "Sign up", class: "user-form-submit"%>
    <% end %>   
</section>
