.user-new {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px 1px rgba(12,12,12,0.2);
}

.home-form {
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.user-form-title {
    margin: 10px;
    margin-left: 5px;
    text-align: center;
}

.form-user-input {
    width: 100%;
}

.form-field {
    width: 230px;
    margin: 5px auto;
    margin-right: 5px;
}

.user-form-submit {
    width: 100%;
    padding: 5px;
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: green;
    color: white;
}

.user-form-signup-text {
    margin-top: 10px;

}